body {
    font-family: Arial, sans-serif;
    align-items: center;
    background-color: #f9f9f9;
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
   
}

.calculator {
    background-color: #fff;
    padding: 30px;  /* Increased padding for more space around the content */
    width: 400px;  /* Increased width for a larger box */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;  /* Increased padding for input fields */
    border: 1px solid #ddd;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}

input:disabled {
    background-color: #f0f0f0;
    color: #888;
}

#conversionRates {
    font-size: 0.8em;
    text-align: center;
    color: #555;
}

.error {
    color: red;
    text-align: center;
}